In [3]:
# imports

from bs4 import BeautifulSoup
import requests
import pandas as pd

In [4]:
url = 'https://www.nycbynatives.com/nyc_info/new_york_city_zip_codes.php'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

In [5]:
# find all tr tags

table = soup.find_all('tr')
table

[<tr><td width="25%">10001	</td><td width="15%">	Manhattan	</td><td width="10%"> </td><td width="25%">	10451	</td><td width="15%">	Bronx	</td></tr>,
 <tr><td>	10002	</td><td>	Manhattan	</td><td> </td><td>	10452	</td><td>	Bronx	</td></tr>,
 <tr><td>	10003	</td><td>	Manhattan	</td><td> </td><td>	10453	</td><td>	Bronx	</td></tr>,
 <tr><td>	10004	</td><td>	Manhattan	</td><td> </td><td>	10454	</td><td>	Bronx	</td></tr>,
 <tr><td>	10005	</td><td>	Manhattan	</td><td> </td><td>	10455	</td><td>	Bronx	</td></tr>,
 <tr><td>	10006	</td><td>	Manhattan	</td><td> </td><td>	10456	</td><td>	Bronx	</td></tr>,
 <tr><td>	10007	</td><td>	Manhattan	</td><td> </td><td>	10457	</td><td>	Bronx	</td></tr>,
 <tr><td>	10009	</td><td>	Manhattan	</td><td> </td><td>	10458	</td><td>	Bronx	</td></tr>,
 <tr><td>	10010	</td><td>	Manhattan	</td><td> </td><td>	10459	</td><td>	Bronx	</td></tr>,
 <tr><td>	10011	</td><td>	Manhattan	</td><td> </td><td>	10460	</td><td>	Bronx	</td></tr>,
 <tr><td>	10012	</td><td>	Manhattan	</td><td> </td><td>	10461	</td><td>	Bronx	</td></tr>,
 <tr><td>	10013	</td><td>	Manhattan	</td><td> </td><td>	10462	</td><td>	Bronx	</td></tr>,
 <tr><td>	10014	</td><td>	Manhattan	</td><td> </td><td>	10463	</td><td>	Bronx	</td></tr>,
 <tr><td>	10015	</td><td>	Manhattan	</td><td> </td><td>	10464	</td><td>	Bronx	</td></tr>,
 <tr><td>	10016	</td><td>	Manhattan	</td><td> </td><td>	10465	</td><td>	Bronx	</td></tr>,
 <tr><td>	10017	</td><td>	Manhattan	</td><td> </td><td>	10466	</td><td>	Bronx	</td></tr>,
 <tr><td>	10018	</td><td>	Manhattan	</td><td> </td><td>	10467	</td><td>	Bronx	</td></tr>,
 <tr><td>	10019	</td><td>	Manhattan	</td><td> </td><td>	10468	</td><td>	Bronx	</td></tr>,
 <tr><td>	10020	</td><td>	Manhattan	</td><td> </td><td>	10469	</td><td>	Bronx	</td></tr>,
 <tr><td>	10021	</td><td>	Manhattan	</td><td> </td><td>	10470	</td><td>	Bronx	</td></tr>,
 <tr><td>	10022	</td><td>	Manhattan	</td><td> </td><td>	10471	</td><td>	Bronx	</td></tr>,
 <tr><td>	10023	</td><td>	Manhattan	</td><td> </td><td>	10472	</td><td>	Bronx	</td></tr>,
 <tr><td>	10024	</td><td>	Manhattan	</td><td> </td><td>	10473	</td><td>	Bronx	</td></tr>,
 <tr><td>	10025	</td><td>	Manhattan	</td><td> </td><td>	10474	</td><td>	Bronx	</td></tr>,
 <tr><td>	10026	</td><td>	Manhattan	</td><td> </td><td>	10475	</td><td>	Bronx	</td></tr>,
 <tr><td>	10027	</td><td>	Manhattan	</td><td> </td><td>	11201	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10028	</td><td>	Manhattan	</td><td> </td><td>	11203	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10029	</td><td>	Manhattan	</td><td> </td><td>	11204	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10030	</td><td>	Manhattan	</td><td> </td><td>	11205	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10031	</td><td>	Manhattan	</td><td> </td><td>	11206	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10032	</td><td>	Manhattan	</td><td> </td><td>	11207	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10033	</td><td>	Manhattan	</td><td> </td><td>	11208	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10034	</td><td>	Manhattan	</td><td> </td><td>	11209	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10035	</td><td>	Manhattan	</td><td> </td><td>	11210	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10036	</td><td>	Manhattan	</td><td> </td><td>	11211	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10037	</td><td>	Manhattan	</td><td> </td><td>	11212	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10038	</td><td>	Manhattan	</td><td> </td><td>	11213	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10039	</td><td>	Manhattan	</td><td> </td><td>	11214	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10040	</td><td>	Manhattan	</td><td> </td><td>	11215	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10041	</td><td>	Manhattan	</td><td> </td><td>	11216	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10044	</td><td>	Manhattan	</td><td> </td><td>	11217	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10045	</td><td>	Manhattan	</td><td> </td><td>	11218	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10048	</td><td>	Manhattan	</td><td> </td><td>	11219	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10055	</td><td>	Manhattan	</td><td> </td><td>	11220	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10060	</td><td>	Manhattan	</td><td> </td><td>	11221	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10069	</td><td>	Manhattan	</td><td> </td><td>	11222	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10090	</td><td>	Manhattan	</td><td> </td><td>	11223	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10095	</td><td>	Manhattan	</td><td> </td><td>	11224	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10098	</td><td>	Manhattan	</td><td> </td><td>	11225	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10099	</td><td>	Manhattan	</td><td> </td><td>	11226	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10103	</td><td>	Manhattan	</td><td> </td><td>	11228	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10104	</td><td>	Manhattan	</td><td> </td><td>	11229	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10105	</td><td>	Manhattan	</td><td> </td><td>	11230	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10106	</td><td>	Manhattan	</td><td> </td><td>	11231	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10107	</td><td>	Manhattan	</td><td> </td><td>	11232	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10110	</td><td>	Manhattan	</td><td> </td><td>	11233	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10111	</td><td>	Manhattan	</td><td> </td><td>	11234	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10112	</td><td>	Manhattan	</td><td> </td><td>	11235	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10115	</td><td>	Manhattan	</td><td> </td><td>	11236	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10118	</td><td>	Manhattan	</td><td> </td><td>	11237	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10119	</td><td>	Manhattan	</td><td> </td><td>	11238	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10120	</td><td>	Manhattan	</td><td> </td><td>	11239	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10121	</td><td>	Manhattan	</td><td> </td><td>	11241	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10122	</td><td>	Manhattan	</td><td> </td><td>	11242	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10123	</td><td>	Manhattan	</td><td> </td><td>	11243	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10128	</td><td>	Manhattan	</td><td> </td><td>	11249	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10151	</td><td>	Manhattan	</td><td> </td><td>	11252	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10152	</td><td>	Manhattan	</td><td> </td><td>	11256	</td><td>	Brooklyn	</td></tr>,
 <tr><td>	10153	</td><td>	Manhattan	</td><td> </td><td>	10001	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10154	</td><td>	Manhattan	</td><td> </td><td>	10002	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10155	</td><td>	Manhattan	</td><td> </td><td>	10003	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10158	</td><td>	Manhattan	</td><td> </td><td>	10004	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10161	</td><td>	Manhattan	</td><td> </td><td>	10005	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10162	</td><td>	Manhattan	</td><td> </td><td>	10006	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10165	</td><td>	Manhattan	</td><td> </td><td>	10007	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10166	</td><td>	Manhattan	</td><td> </td><td>	10009	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10167	</td><td>	Manhattan	</td><td> </td><td>	10010	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10168	</td><td>	Manhattan	</td><td> </td><td>	10011	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10169	</td><td>	Manhattan	</td><td> </td><td>	10012	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10170	</td><td>	Manhattan	</td><td> </td><td>	10013	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10171	</td><td>	Manhattan	</td><td> </td><td>	10014	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10172	</td><td>	Manhattan	</td><td> </td><td>	10015	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10173	</td><td>	Manhattan	</td><td> </td><td>	10016	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10174	</td><td>	Manhattan	</td><td> </td><td>	10017	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10175	</td><td>	Manhattan	</td><td> </td><td>	10018	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10176	</td><td>	Manhattan	</td><td> </td><td>	10019	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10177	</td><td>	Manhattan	</td><td> </td><td>	10020	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10178	</td><td>	Manhattan	</td><td> </td><td>	10021	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10199	</td><td>	Manhattan	</td><td> </td><td>	10022	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10270	</td><td>	Manhattan	</td><td> </td><td>	10023	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10271	</td><td>	Manhattan	</td><td> </td><td>	10024	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10278	</td><td>	Manhattan	</td><td> </td><td>	10025	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10279	</td><td>	Manhattan	</td><td> </td><td>	10026	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10280	</td><td>	Manhattan	</td><td> </td><td>	10027	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10281	</td><td>	Manhattan	</td><td> </td><td>	10028	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10282	</td><td>	Manhattan	</td><td> </td><td>	10029	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10301	</td><td>	Staten	</td><td> </td><td>	10030	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10302	</td><td>	Staten	</td><td> </td><td>	10031	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10303	</td><td>	Staten	</td><td> </td><td>	10032	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10304	</td><td>	Staten	</td><td> </td><td>	10033	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10305	</td><td>	Staten	</td><td> </td><td>	10034	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10306	</td><td>	Staten	</td><td> </td><td>	10035	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10307	</td><td>	Staten	</td><td> </td><td>	10036	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10308	</td><td>	Staten	</td><td> </td><td>	10037	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10309	</td><td>	Staten	</td><td> </td><td>	10038	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10310	</td><td>	Staten	</td><td> </td><td>	10039	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10311	</td><td>	Staten	</td><td> </td><td>	10040	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10312	</td><td>	Staten	</td><td> </td><td>	10041	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10314	</td><td>	Staten	</td><td> </td><td>	10044	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10451	</td><td>	Bronx	</td><td> </td><td>	10045	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10452	</td><td>	Bronx	</td><td> </td><td>	10048	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10453	</td><td>	Bronx	</td><td> </td><td>	10055	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10454	</td><td>	Bronx	</td><td> </td><td>	10060	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10455	</td><td>	Bronx	</td><td> </td><td>	10069	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10456	</td><td>	Bronx	</td><td> </td><td>	10090	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10457	</td><td>	Bronx	</td><td> </td><td>	10095	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10458	</td><td>	Bronx	</td><td> </td><td>	10098	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10459	</td><td>	Bronx	</td><td> </td><td>	10099	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10460	</td><td>	Bronx	</td><td> </td><td>	10103	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10461	</td><td>	Bronx	</td><td> </td><td>	10104	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10462	</td><td>	Bronx	</td><td> </td><td>	10105	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10463	</td><td>	Bronx	</td><td> </td><td>	10106	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10464	</td><td>	Bronx	</td><td> </td><td>	10107	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10465	</td><td>	Bronx	</td><td> </td><td>	10110	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10466	</td><td>	Bronx	</td><td> </td><td>	10111	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10467	</td><td>	Bronx	</td><td> </td><td>	10112	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10468	</td><td>	Bronx	</td><td> </td><td>	10115	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10469	</td><td>	Bronx	</td><td> </td><td>	10118	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10470	</td><td>	Bronx	</td><td> </td><td>	10119	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10471	</td><td>	Bronx	</td><td> </td><td>	10120	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10472	</td><td>	Bronx	</td><td> </td><td>	10121	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10473	</td><td>	Bronx	</td><td> </td><td>	10122	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10474	</td><td>	Bronx	</td><td> </td><td>	10123	</td><td>	Manhattan	</td></tr>,
 <tr><td>	10475	</td><td>	Bronx	</td><td> </td><td>	10128	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11004	</td><td>	Queens	</td><td> </td><td>	10151	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11101	</td><td>	Queens	</td><td> </td><td>	10152	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11102	</td><td>	Queens	</td><td> </td><td>	10153	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11103	</td><td>	Queens	</td><td> </td><td>	10154	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11104	</td><td>	Queens	</td><td> </td><td>	10155	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11105	</td><td>	Queens	</td><td> </td><td>	10158	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11106	</td><td>	Queens	</td><td> </td><td>	10161	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11109	</td><td>	Queens	</td><td> </td><td>	10162	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11201	</td><td>	Brooklyn	</td><td> </td><td>	10165	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11203	</td><td>	Brooklyn	</td><td> </td><td>	10166	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11204	</td><td>	Brooklyn	</td><td> </td><td>	10167	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11205	</td><td>	Brooklyn	</td><td> </td><td>	10168	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11206	</td><td>	Brooklyn	</td><td> </td><td>	10169	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11207	</td><td>	Brooklyn	</td><td> </td><td>	10170	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11208	</td><td>	Brooklyn	</td><td> </td><td>	10171	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11209	</td><td>	Brooklyn	</td><td> </td><td>	10172	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11210	</td><td>	Brooklyn	</td><td> </td><td>	10173	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11211	</td><td>	Brooklyn	</td><td> </td><td>	10174	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11212	</td><td>	Brooklyn	</td><td> </td><td>	10175	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11213	</td><td>	Brooklyn	</td><td> </td><td>	10176	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11214	</td><td>	Brooklyn	</td><td> </td><td>	10177	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11215	</td><td>	Brooklyn	</td><td> </td><td>	10178	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11216	</td><td>	Brooklyn	</td><td> </td><td>	10199	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11217	</td><td>	Brooklyn	</td><td> </td><td>	10270	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11218	</td><td>	Brooklyn	</td><td> </td><td>	10271	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11219	</td><td>	Brooklyn	</td><td> </td><td>	10278	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11220	</td><td>	Brooklyn	</td><td> </td><td>	10279	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11221	</td><td>	Brooklyn	</td><td> </td><td>	10280	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11222	</td><td>	Brooklyn	</td><td> </td><td>	10281	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11223	</td><td>	Brooklyn	</td><td> </td><td>	10282	</td><td>	Manhattan	</td></tr>,
 <tr><td>	11224	</td><td>	Brooklyn	</td><td> </td><td>	11101	</td><td>	Queens	</td></tr>,
 <tr><td>	11225	</td><td>	Brooklyn	</td><td> </td><td>	11102	</td><td>	Queens	</td></tr>,
 <tr><td>	11226	</td><td>	Brooklyn	</td><td> </td><td>	11103	</td><td>	Queens	</td></tr>,
 <tr><td>	11228	</td><td>	Brooklyn	</td><td> </td><td>	11004	</td><td>	Queens	</td></tr>,
 <tr><td>	11229	</td><td>	Brooklyn	</td><td> </td><td>	11104	</td><td>	Queens	</td></tr>,
 <tr><td>	11230	</td><td>	Brooklyn	</td><td> </td><td>	11105	</td><td>	Queens	</td></tr>,
 <tr><td>	11231	</td><td>	Brooklyn	</td><td> </td><td>	11106	</td><td>	Queens	</td></tr>,
 <tr><td>	11232	</td><td>	Brooklyn	</td><td> </td><td>	11109	</td><td>	Queens	</td></tr>,
 <tr><td>	11233	</td><td>	Brooklyn	</td><td> </td><td>	11351	</td><td>	Queens	</td></tr>,
 <tr><td>	11234	</td><td>	Brooklyn	</td><td> </td><td>	11354	</td><td>	Queens	</td></tr>,
 <tr><td>	11235	</td><td>	Brooklyn	</td><td> </td><td>	11355	</td><td>	Queens	</td></tr>,
 <tr><td>	11236	</td><td>	Brooklyn	</td><td> </td><td>	11356	</td><td>	Queens	</td></tr>,
 <tr><td>	11237	</td><td>	Brooklyn	</td><td> </td><td>	11357	</td><td>	Queens	</td></tr>,
 <tr><td>	11238	</td><td>	Brooklyn	</td><td> </td><td>	11358	</td><td>	Queens	</td></tr>,
 <tr><td>	11239	</td><td>	Brooklyn	</td><td> </td><td>	11359	</td><td>	Queens	</td></tr>,
 <tr><td>	11241	</td><td>	Brooklyn	</td><td> </td><td>	11360	</td><td>	Queens	</td></tr>,
 <tr><td>	11242	</td><td>	Brooklyn	</td><td> </td><td>	11361	</td><td>	Queens	</td></tr>,
 <tr><td>	11243	</td><td>	Brooklyn	</td><td> </td><td>	11362	</td><td>	Queens	</td></tr>,
 <tr><td>	11249	</td><td>	Brooklyn	</td><td> </td><td>	11363	</td><td>	Queens	</td></tr>,
 <tr><td>	11252	</td><td>	Brooklyn	</td><td> </td><td>	11364	</td><td>	Queens	</td></tr>,
 <tr><td>	11256	</td><td>	Brooklyn	</td><td> </td><td>	11365	</td><td>	Queens	</td></tr>,
 <tr><td>	11351	</td><td>	Queens	</td><td> </td><td>	11366	</td><td>	Queens	</td></tr>,
 <tr><td>	11354	</td><td>	Queens	</td><td> </td><td>	11367	</td><td>	Queens	</td></tr>,
 <tr><td>	11355	</td><td>	Queens	</td><td> </td><td>	11368	</td><td>	Queens	</td></tr>,
 <tr><td>	11356	</td><td>	Queens	</td><td> </td><td>	11369	</td><td>	Queens	</td></tr>,
 <tr><td>	11357	</td><td>	Queens	</td><td> </td><td>	11370	</td><td>	Queens	</td></tr>,
 <tr><td>	11358	</td><td>	Queens	</td><td> </td><td>	11371	</td><td>	Queens	</td></tr>,
 <tr><td>	11359	</td><td>	Queens	</td><td> </td><td>	11372	</td><td>	Queens	</td></tr>,
 <tr><td>	11360	</td><td>	Queens	</td><td> </td><td>	11373	</td><td>	Queens	</td></tr>,
 <tr><td>	11361	</td><td>	Queens	</td><td> </td><td>	11374	</td><td>	Queens	</td></tr>,
 <tr><td>	11362	</td><td>	Queens	</td><td> </td><td>	11375	</td><td>	Queens	</td></tr>,
 <tr><td>	11363	</td><td>	Queens	</td><td> </td><td>	11377	</td><td>	Queens	</td></tr>,
 <tr><td>	11364	</td><td>	Queens	</td><td> </td><td>	11378	</td><td>	Queens	</td></tr>,
 <tr><td>	11365	</td><td>	Queens	</td><td> </td><td>	11379	</td><td>	Queens	</td></tr>,
 <tr><td>	11366	</td><td>	Queens	</td><td> </td><td>	11385	</td><td>	Queens	</td></tr>,
 <tr><td>	11367	</td><td>	Queens	</td><td> </td><td>	11411	</td><td>	Queens	</td></tr>,
 <tr><td>	11368	</td><td>	Queens	</td><td> </td><td>	11412	</td><td>	Queens	</td></tr>,
 <tr><td>	11369	</td><td>	Queens	</td><td> </td><td>	11413	</td><td>	Queens	</td></tr>,
 <tr><td>	11370	</td><td>	Queens	</td><td> </td><td>	11414	</td><td>	Queens	</td></tr>,
 <tr><td>	11371	</td><td>	Queens	</td><td> </td><td>	11415	</td><td>	Queens	</td></tr>,
 <tr><td>	11372	</td><td>	Queens	</td><td> </td><td>	11416	</td><td>	Queens	</td></tr>,
 <tr><td>	11373	</td><td>	Queens	</td><td> </td><td>	11417	</td><td>	Queens	</td></tr>,
 <tr><td>	11374	</td><td>	Queens	</td><td> </td><td>	11418	</td><td>	Queens	</td></tr>,
 <tr><td>	11375	</td><td>	Queens	</td><td> </td><td>	11419	</td><td>	Queens	</td></tr>,
 <tr><td>	11377	</td><td>	Queens	</td><td> </td><td>	11420	</td><td>	Queens	</td></tr>,
 <tr><td>	11378	</td><td>	Queens	</td><td> </td><td>	11421	</td><td>	Queens	</td></tr>,
 <tr><td>	11379	</td><td>	Queens	</td><td> </td><td>	11422	</td><td>	Queens	</td></tr>,
 <tr><td>	11385	</td><td>	Queens	</td><td> </td><td>	11423	</td><td>	Queens	</td></tr>,
 <tr><td>	11411	</td><td>	Queens	</td><td> </td><td>	11426	</td><td>	Queens	</td></tr>,
 <tr><td>	11412	</td><td>	Queens	</td><td> </td><td>	11427	</td><td>	Queens	</td></tr>,
 <tr><td>	11413	</td><td>	Queens	</td><td> </td><td>	11428	</td><td>	Queens	</td></tr>,
 <tr><td>	11414	</td><td>	Queens	</td><td> </td><td>	11429	</td><td>	Queens	</td></tr>,
 <tr><td>	11415	</td><td>	Queens	</td><td> </td><td>	11430	</td><td>	Queens	</td></tr>,
 <tr><td>	11416	</td><td>	Queens	</td><td> </td><td>	11432	</td><td>	Queens	</td></tr>,

In [6]:
# get the first tr tag

table[0]

In [7]:
# get the first tr tag wothout the html tags

table[0].text

'10001\t\tManhattan\t\xa0\t10451\t\tBronx\t'

In [8]:
# get the td tags

table[0].find_all('td')

[<td width="25%">10001	</td>,
 <td width="15%">	Manhattan	</td>,
 <td width="10%"> </td>,
 <td width="25%">	10451	</td>,
 <td width="15%">	Bronx	</td>]

In [11]:
# get all the tr tags without the html tags and put them in a dataframe

df = pd.DataFrame([[table[i].find_all('td')[j].text for j in range(len(table[i].find_all('td')))] for i in range(len(table))])
df

             0              1  2          3           4
0      10001\t  \tManhattan\t     \t10451\t   \tBronx\t
1    \t10002\t  \tManhattan\t     \t10452\t   \tBronx\t
2    \t10003\t  \tManhattan\t     \t10453\t   \tBronx\t
3    \t10004\t  \tManhattan\t     \t10454\t   \tBronx\t
4    \t10005\t  \tManhattan\t     \t10455\t   \tBronx\t
..         ...            ... ..        ...         ...
235  \t11691\t     \tQueens\t     \t10309\t  \tStaten\t
236  \t11692\t     \tQueens\t     \t10310\t  \tStaten\t
237  \t11693\t     \tQueens\t     \t10311\t  \tStaten\t
238  \t11694\t     \tQueens\t     \t10312\t  \tStaten\t
239  \t11697\t     \tQueens\t     \t10314\t  \tStaten\t

[240 rows x 5 columns]

In [12]:
df.columns

RangeIndex(start=0, stop=5, step=1)

In [13]:
# remove column 2

df = df.drop(columns=2)
df

             0              1          3           4
0      10001\t  \tManhattan\t  \t10451\t   \tBronx\t
1    \t10002\t  \tManhattan\t  \t10452\t   \tBronx\t
2    \t10003\t  \tManhattan\t  \t10453\t   \tBronx\t
3    \t10004\t  \tManhattan\t  \t10454\t   \tBronx\t
4    \t10005\t  \tManhattan\t  \t10455\t   \tBronx\t
..         ...            ...        ...         ...
235  \t11691\t     \tQueens\t  \t10309\t  \tStaten\t
236  \t11692\t     \tQueens\t  \t10310\t  \tStaten\t
237  \t11693\t     \tQueens\t  \t10311\t  \tStaten\t
238  \t11694\t     \tQueens\t  \t10312\t  \tStaten\t
239  \t11697\t     \tQueens\t  \t10314\t  \tStaten\t

[240 rows x 4 columns]

In [14]:
# rename column 0 to zip

df.rename(columns={0:'zip', 1:'borough', 3:'zip1', 4:'borough2'}, inplace=True)
df

           zip        borough       zip1    borough2
0      10001\t  \tManhattan\t  \t10451\t   \tBronx\t
1    \t10002\t  \tManhattan\t  \t10452\t   \tBronx\t
2    \t10003\t  \tManhattan\t  \t10453\t   \tBronx\t
3    \t10004\t  \tManhattan\t  \t10454\t   \tBronx\t
4    \t10005\t  \tManhattan\t  \t10455\t   \tBronx\t
..         ...            ...        ...         ...
235  \t11691\t     \tQueens\t  \t10309\t  \tStaten\t
236  \t11692\t     \tQueens\t  \t10310\t  \tStaten\t
237  \t11693\t     \tQueens\t  \t10311\t  \tStaten\t
238  \t11694\t     \tQueens\t  \t10312\t  \tStaten\t
239  \t11697\t     \tQueens\t  \t10314\t  \tStaten\t

[240 rows x 4 columns]

In [15]:
# remove \t from the zip column

df['zip'] = df['zip'].str.replace('\t', '')
df

       zip        borough       zip1    borough2
0    10001  \tManhattan\t  \t10451\t   \tBronx\t
1    10002  \tManhattan\t  \t10452\t   \tBronx\t
2    10003  \tManhattan\t  \t10453\t   \tBronx\t
3    10004  \tManhattan\t  \t10454\t   \tBronx\t
4    10005  \tManhattan\t  \t10455\t   \tBronx\t
..     ...            ...        ...         ...
235  11691     \tQueens\t  \t10309\t  \tStaten\t
236  11692     \tQueens\t  \t10310\t  \tStaten\t
237  11693     \tQueens\t  \t10311\t  \tStaten\t
238  11694     \tQueens\t  \t10312\t  \tStaten\t
239  11697     \tQueens\t  \t10314\t  \tStaten\t

[240 rows x 4 columns]

In [16]:
# remove \t from all columns

df['borough'] = df['borough'].str.replace('\t', '')
df['borough2'] = df['borough2'].str.replace('\t', '')
df['zip1'] = df['zip1'].str.replace('\t', '')
df

       zip    borough   zip1 borough2
0    10001  Manhattan  10451    Bronx
1    10002  Manhattan  10452    Bronx
2    10003  Manhattan  10453    Bronx
3    10004  Manhattan  10454    Bronx
4    10005  Manhattan  10455    Bronx
..     ...        ...    ...      ...
235  11691     Queens  10309   Staten
236  11692     Queens  10310   Staten
237  11693     Queens  10311   Staten
238  11694     Queens  10312   Staten
239  11697     Queens  10314   Staten

[240 rows x 4 columns]

In [18]:
# reset the index

df.reset_index(drop=True, inplace=True)
df

       zip    borough   zip1 borough2
0    10001  Manhattan  10451    Bronx
1    10002  Manhattan  10452    Bronx
2    10003  Manhattan  10453    Bronx
3    10004  Manhattan  10454    Bronx
4    10005  Manhattan  10455    Bronx
..     ...        ...    ...      ...
235  11691     Queens  10309   Staten
236  11692     Queens  10310   Staten
237  11693     Queens  10311   Staten
238  11694     Queens  10312   Staten
239  11697     Queens  10314   Staten

[240 rows x 4 columns]

In [19]:
# save the dataframe to a csv file

# df.to_csv('nyc_zip_codes.csv', index=False)